.icono-derecha{
  position: absolute;
  top: 10px;
  left: 10px;
}
.icono-izquierda{
  position: absolute;
  bottom :10px;
  right :10px;
}

.MostarEstaciones.invierno i{
  color: blue;
}

.MostarEstaciones.verano i{
  color: red;
}

.MostarEstaciones{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.invierno{
  background-color: alacieblue;

}

.verano{
  background-color: orange;
}
